.emec{float:right;}

.emec > a > img{max-height:98px;}

.criadores{float:right;}

.criadores > a > img{max-height:98px;}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3f3;
    color: #000000;
}

header {
    background-color: #b31e1e;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: #9c9898a6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #af1a1a;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

form input[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #003d82;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #be2929;
    color: #fff;
}

